#gameboard {
    width: 320px;
    height: 320px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 40px;
    height: 40px;
    position: relative;
}

.square svg {
    width: 30px;
    height: 30px;
    margin: 5px;
    position: relative;
    z-index: -10;
}

path {
    position: relative;
    z-index: -11;
}

.piece {
    position: relative;
    z-index: 10;
}

.green {
    background-color: rgb(8, 68, 22);
}

.brown {
    background-color: rgb(56, 30, 7);
}

.black {
    fill: black;
}

.white {
    fill: white;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #333;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.square.light {
    background-color: #eee;
}

.square.dark {
    background-color: #333;
    color: #fff;
}

.piece {
    font-size: 40px;
    cursor: pointer;
} */