body {
    margin: 0;
    background: linear-gradient(to bottom, #b3cde0, #6497b1);
    font-family: 'Georgia', serif;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    width: 480px;
    height: 480px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 60px;
    height: 60px;
    position: relative;
}

.square svg {
    width: 50px;
    height: 50px;
    margin: 5px;
    position: relative;
    z-index: -10;
}

path {
    position: relative;
    z-index: -11;
}

.piece {
    position: relative;
    z-index: 10;
}

.green {
    background-color: rgb(32, 66, 40);
}

.brown {
    background-color: rgb(142, 146, 89);
}

.black {
    fill: black;
}

.white {
    fill: white;
}

p,
#info-display {
    font-family: 'Georgia', serif;
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}